body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

table {
    border-width: thin;
    border-spacing: 0px;
    border-style: none;
    border-color: black;
    border-collapse: collapse;
    text-align: center;
}

.dd {
    border-left: 2px solid black;
}

.db {
    border-bottom: 2px solid black;
}
